---
layout: page
title: Ironman 101
permalink: /ironman101/index.html
title: IRONMAN 101
tags: [Categories]
description: "A 6 month plan to become an ironman triathlete"


---


<p>A Six-Month Training Plan</p>
<p>You’re signed up for your first race and have six months to go. This plan will get you to the line.</p>
<p>by John Newsom</p>
<p>If you've committed to completing your first IRONMAN race, first of all: congratulations. Now it's time to get going, take stock of your fitness and schedule and focus on your goal. </p>
<p>With six months stretching before you, it's key to start forming good training habits, building base miles and working on identifying strengths and weaknesses. However, it’s important to avoid burn out—since six months of IRONMAN training can take its toll. It’s also smart to give employers and family a heads-up about the incredible achievement you're aiming for, and how it might require a few changes.</p>
<p>You can train yourself, but having an experienced coach who understands your specific needs will be money well-spent. And before you start training, there are two simple things you can do that will help get you off to a good start:</p>
<ol>
<li>
<p>Get your swim technique checked. A good swim coach will pick up any weaknesses you can work on before the big weeks of training kick in.</p>
</li>
<li>
<p>Get a professional bike fit. This will make cycling comfortable and ensure you are as efficient as possible with your technique. </p>
</li>
</ol>
<p>Every athlete is different. Some will find this kind of schedule easy, others will struggle. And everyone will need to adapt it to his/her life and needs. But if you pick five key sessions to focus on, and don’t beat yourself up if you can’t do more, a six-month plan based on the below schedule will get you to the start line.</p>
<p>Six months out</p>
<p>Aim for five key sessions each week.</p>
<p>• Monday – 1 hour swim</p>
<p>• Tuesday – 1 hour cycle</p>
<p>• Wednesday - DAY OFF</p>
<p>• Thursday – 45 to 60 min. run</p>
<p>• Friday – 1 hour swim</p>
<p>• Saturday – 60 min. run</p>
<p>• Sunday – 2 to 3 hour cycle</p>
<p>Five months out</p>
<p>Gradually increase the time spent on each discipline in the schedule above by roughly 10 percent each week. </p>
<p>At the end of the first two months, I suggest taking a week’s break before ramping up your training with a 16-week IRONMAN-specific schedule. You can also use this time to address any technical issues.</p>
<p>Four months out</p>
<p>• Monday – DAY OFF</p>
<p>• Tuesday – 1.5 hour cycle/1 hour run</p>
<p>• Wednesday – 1 hour swim</p>
<p>• Thursday – 1.5 hour cycle/1 hour run</p>
<p>• Friday – 1 hour swim</p>
<p>• Saturday – 3 to 4 hour cycle/15 min. run off the bike</p>
<p>• Sunday – 40 min. ocean swim/ 1.5 hour run </p>
<p>You should increase the cycle and run times by 10 percent (on average) each week throughout the month, allowing one week to be slightly less as a recovery week.</p>
<p>Related: Eat Your Way to a PR</p>
<p>Three months out</p>
<p>• Monday – DAY OFF</p>
<p>• Tuesday – 1.5 hour cycle/70 min. run</p>
<p>• Wednesday – 1 hour swim increasing distance at session</p>
<p>• Thursday – 2 hour cycle</p>
<p>• Friday – 1 hour swim</p>
<p>• Saturday – 4 to 5 hour cycle/20 min run off the bike</p>
<p>• Sunday – 45 min ocean swim/1.45 run</p>
<p>Two months out</p>
<p>If possible, include an Olympic or half-distance race about six to eight weeks before your IRONMAN.</p>
<p>Also include race simulation brick sessions – that include a swim, bike and run. (They don’t have to be long ones.)</p>
<p>• Monday – DAY OFF</p>
<p>• Tuesday – 2hour cycle/1 hour run</p>
<p>• Wednesday – 4km swim</p>
<p>• Thursday – 1.5 hour ride/ 1.5 hour run</p>
<p>• Friday – 1 hour swim</p>
<p>• Saturday – 6 to 7 hour ride/10 min. run off the bike</p>
<p>• Sunday – 45 min. ocean swim/1 hour cycle/2 hour run</p>
<p>One month out</p>
<p>• Monday – DAY OFF</p>
<p>• Tuesday – 1.5 hour cycle/1 hour run</p>
<p>• Wednesday – 4km swim reducing to 3km until taper week</p>
<p>• Thursday – 1 hour cycle/1.5 hour run</p>
<p>• Friday – 1 hour swim</p>
<p>• Saturday – 4 hour cycle</p>
<p>• Sunday – 30 min. ocean swim/1 hour cycle/1.5 hour run </p>
<p>Pre-race week</p>
<p>• Monday - DAY OFF</p>
<p>• Tuesday – 2 hour cycle/1 hour run</p>
<p>• Wednesday – 1 hour swim</p>
<p>• Thursday – 45 min. cycle/30 min. run</p>
<p>• Friday – DAY OFF</p>
<p>• Saturday – 20 min. swim/30 min. cycle/10 min. run</p>
<p>• Sunday – Race day. Enjoy!</p>
<p>Former New Zealand international triathlete John Newsom coached in Hong Kong before establishing the NZ Multisport and Triathlon Centre in Christchurch, working with the likes of Scott Molina, Gordo Byrn and Dr. John Hellemans. Download his weekly podcasts at imtalk.me.</p>

<ul class="tag-box inline">
{% assign tags_list = site.categories %}  
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %} 
      <li><a href="#{{ tag }}">{{ tag | capitalize }} <span>{{ site.tags[tag].size }}</span></a></li>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %} 
      <li><a href="#{{ tag[0] }}">{{ tag[0] | capitalize }} <span>{{ tag[1].size }}</span></a></li>
    {% endfor %}
  {% endif %}
{% assign tags_list = nil %}
</ul>


{% for tag in site.categories %} 
  <h2 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h2>
  <ul class="post-list">
    {% assign pages_list = tag[1] %}  
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}
